body {
	background-image: url(img/f.png);
	background-size: 1600px 800px;
	background-repeat: no-repeat
}

.menu {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex; /*ставить в рядок*/
}

.header {
	display: flex;
	align-items: center; /*центрує по висоті*/
}

.menu-btn {
	display: block;
	font-size: 24px;
	color: pink;
	padding-right: 40px;
	padding-left: 45px;
	padding-bottom: 30px;
	padding-top: 30px;
	text-decoration: none;
	font-family: Verdana;
}

.menu-btn:hover {
	color:Goldenrod;
	transform: scale(1.3);
}

.logo {
	margin-right: 100px;
}

.active {
	color: blue;
	border-bottom: 2px solid blue
}
/* Початкова */

.picture {
	float: right;
}

.main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.title {
	color: aqua;
	font-size: 50px;
	font-family: Comic Sans MS;
}

.navi {
	color: maroon;
	font-size: 60px;
	font-family:Impact;
}
.profi {
	width:140px;
	height:60px;
	font-family:Lucida Console;
	border-radius:6px;
	background-color:skyblue;
	border:4px solid navy;
}
.profi a {
	text-decoration:none;
	color:pink;
}
.profi:hover {
	border: 4px dotted aqua;
	background-color:indigo;
}

.fsda {
	text-align: center;
}
.list{
	list-style:none;
}

.by {
	transition: all 0.5s;
}

.by:hover {
	transform: rotate(10turn);
}

table {
	width: 500px;
	height:100px;
	background-color:black;
}

.ProNavi{
	color: OliveDrab;
}
.PrNavi, .PrNavi a{
	color: Teal;
}
.PNavi,.PNavi a{
	color:Peru;
}
.DaNavi{
color: aqua;
}
.neaNavi{
	color:Indigo;
}
 .nerNavi{
	 color:Sienna
 }
 
.yyyf {
	color:red;
	font-size:35px;
}